@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Přístup odepřen";
}

<!--
 IIS Projekt - Nemocnice
 Listopad 2020
 Autoři: Radek Veverka (xvever13)
         Adam Sedmík (xsedmi04)
-->

<header class="container text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Váš uživatelský účet nemá oprávnění k přístupu na zadané url.</p>
</header>
