@page
@model iis_project.Pages.Insurance.CreateModel
@{
    ViewData["Title"] = "Vytvořit úkon";
}

<!--
 IIS Projekt - Nemocnice
 Listopad 2020
 Autoři: Radek Veverka (xvever13)
         Adam Sedmík (xsedmi04)
-->

<div class="container">
    <form id="account" method="post">
        <h4>Vytvořit nový úkon</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label class="label-required" asp-for="ActInput.Name"></label>
            <input asp-for="ActInput.Name" class="form-control" />
            <span asp-validation-for="ActInput.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="label-required" asp-for="ActInput.Price"></label>
            <div class="form-inline">
                <input asp-for="ActInput.Price" type="number" class="form-control" /> CZK
            </div>
            <span asp-validation-for="ActInput.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ActInput.Description"></label>
            <textarea class="form-control" asp-for="ActInput.Description">
            </textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Vytvořit</button>
        </div>
    </form>
</div>
